---
import Layout from '../layouts/Layout.astro';
import Pensando from '../components/Pensando.astro';
import HistoriasCard from '../components/HistoriasCard.astro';

---

<Layout title="Static Facebook clone using Astro and TailwindCSS">
	<div class="md:flex flex-col flex-1 gap-6 hidden pb-2">
		<div class="flex flex-row  justify-center mt-5 flex-wrap ">
				<HistoriasCard>
					@username
				</HistoriasCard>

				<HistoriasCard>
					@username
				</HistoriasCard>

				<HistoriasCard>
					@username
				</HistoriasCard>

				<HistoriasCard>
					@username
				</HistoriasCard>
		</div>
				
		<div class="relative ">
				<Pensando/>
		</div>

<<<<<<< HEAD

=======
>>>>>>> 2b5fef74b7901f0b55a7908c097979d4ebcc0810
		<div class="relative">
			<Pensando/>
		</div>



			
		


	

	</div>
		

	
</Layout>

