---
import Layout from '../layouts/Layout.astro';
import Pensando from '../components/Pensando.astro';
import HistoriasCard from '../components/HistoriasCard.astro';

---

<Layout title="Static Facebook clone using Astro and TailwindCSS">
	<div class="md:flex flex-col flex-1 gap-6 hidden pb-2">
		<div class="flex flex-row  justify-center mt-5 flex-wrap ">
				<HistoriasCard>
					Oscu
				</HistoriasCard>

				<HistoriasCard>
					Oscu
				</HistoriasCard>

				<HistoriasCard>
					Oscu
				</HistoriasCard>

				<HistoriasCard>
					Oscu
				</HistoriasCard>
		</div>
				
		<div class="relative ">
				<Pensando/>
		</div>

		<div class="flex justify-center">
			<HistoriasCard>
				NOSE
			</HistoriasCard>	
		</div>

		<div class="relative">
			<Pensando/>
		</div>



			
		


	

	</div>
		

	
</Layout>

