---
import FacebookLogo from "../icons/FacebookLogo.astro";
---


<a href="/" class="flex relative p-2 overflow-hidden items-center rounded-md">

    <picture class="h-12 w-12 flex-none">
        <img src=[FacebookLogo] alt="nosenose">
    </picture>c
</a>