---
import AsideMenuMock from "./AsideMenuMock.astro";
import FacebookChico from "../icons/apps.astro";
import Grupo from "../icons/grupo.astro";
import User from "../icons/User.astro";
---



<nav class="flex flex-col flex-1 gap-2">
    <div class="pt-4  border-black ">
        <ul class="">
            <AsideMenuMock href="/">
                <User class="size-9" />
                Nombre de usuario
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <Grupo/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <Grupo/>
                Recuerdos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <Grupo/>
                Guardado
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <Grupo/>
                Grupos
            </AsideMenuMock>
            <AsideMenuMock href="/">
                <Grupo/>
                Video
            </AsideMenuMock>
        </ul>
    </div>
<hr class="border-gray-300 contrast-75 ml-4">
    <div>
        <div class="flex justify-between items-center">
            <h1 class="pl-4 font-semibold text-gray-500 text-lg">Tus accesos directos</h1>
            <a href="" class="hover:bg-slate-200 rounded-md  mr-2 "><h2 class="p-1 text-blue-500">Editar</h2></a>
        </div>
        <ul>
            <AsideMenuMock href="/">
                <FacebookChico/>
                Juego1
            </AsideMenuMock>

            
            
            <AsideMenuMock href="/">
                <FacebookChico/>
                Juego2
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Juego3
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                App1
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Juego4
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                App2
            </AsideMenuMock>

        </ul>
    </div>
</nav>