---
import FacebookChico from "../icons/FacebookPequenio.astro";
import AsideMenuMock from "./AsideMenuMock.astro";
import Megafono from "../icons/Megafono.astro";
---



<nav class="flex flex-col flex-1 gap-2 pl-2 ">
    <div class="pt-5  border-black ">
        <h1 class="text-lg font-semibold text-gray-500 pl-6">Tus paginas y perfiles</h1>
        <ul class="mt-1">
            <AsideMenuMock href="/">
                <FacebookChico/>
                NG Fotografias
            </AsideMenuMock>

            <div class="">
            <AsideMenuMock href="/" >
                <Megafono/>
                <p class="text-gray-500 text-sm ml-2">Crear promocion</p>
                
            </AsideMenuMock>
            </div>

        </ul>
    </div>


<hr class="border-gray-300 contrast-100 mx-3">
    
<div>
        <div class="flex justify-between items-center">
            <h1 class="pl-4 font-semibold text-gray-600 text-lg">Contactos</h1>
            <a href="" class="hover:bg-slate-200 rounded-md  mr-2 "><h2 class="p-1 text-blue-500">Editar</h2></a>
        </div>
        <ul>
            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            
            
            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>
            
            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>
            
            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

            <AsideMenuMock href="/">
                <FacebookChico/>
                Amigos
            </AsideMenuMock>

        </ul>
    </div>
</nav>