---
interface Props{
    href?: string;
}

const { href } = Astro.props
---

<div class="p-2 px-1 ">
<div class=" relative hover:brightness-75 contenedor ">
    <a href="/" ><img  src="src/icons/paisaje.jpg" alt="" id="foto" class=" w-36  h-60 rounded-2xl ">
    <h1 class="text-white font-bold pl-3 mt-8 absolute top-3/4">
        <slot/>
    </h1>
    </a>    
</div>
</div>


<style>

    .contenedor {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
        /* Para que no se salga la imagen */
    }
    /* Estilo para la imagen */
    .contenedor img {
        transition: transform 0.3s ease;
     /* Transición suave para la transformación */
    }

    /* Estilo para aplicar el zoom al hacer hover */
    .contenedor:hover img {
        transform: scale(1.05);
         /* Zoom del 120% al hacer hover */
    }
</style>
